$base-color: #47536B;

body {
    margin: 0;
    background-color: $base-color;
}

.content {
    grid-template-areas: 
        'cover-photo'
        'navbar'
        'main'
        'footer';
}

.cover-photo {
    grid-area: cover-photo;
    width: 100%;
    height: 100vh;

    &__img {
        width: 100%;
    }
}

.main-content {
    grid-area: main;
    height: auto;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 0 0 15px 0;

    &__link {
        margin: 0 10px 0 10px;
        text-decoration: none;
    }
}