@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Rubik:wght@500&family=Source+Sans+Pro:wght@200;400;900&family=Work+Sans:wght@100;300&display=swap');

$base-color: #45536B;
$base-font-family: 'Source Sans Pro', sans-serif;
$font-color-w: white;
$font-color-b: #45536B;

body {
    margin: 0;
    background-color: $base-color;
}

html {
    scroll-behavior: smooth;
}

.fader {
    transition: all 0.8s;
    transform: translateY(100px);
    opacity: 0;

    &.top {
        transition: all 2.0s;
        transform: translateY(-200px);
    }

    &.appear {
        transform: translateY(0);
        opacity: 1;
    }
} 

.flex-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0;
    width: 290px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid $base-color;
}

.inner-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.p-15-m {
    padding: 15px;
}

.p-25-m {
    padding: 25px;
}

.p-25-s {
    @media (max-width: 750px) {
        padding: 25px 25px 0 25px;
    }
}

.m-25 {
    margin: 25px;
}

.card-blue {
    border-radius: 20px;
    box-shadow: 
        -3px -3px 7px #4f5e79, 
        3px 3px 7px #384255;

    &:hover {
        box-shadow: 
            3px 3px 7px #4f5e79, 
            -3px -3px 7px #384255;
        cursor: pointer;
    }
}

.card-grey {
    border-radius: 20px;
    margin: 10px;
    box-shadow: 
        -3px -3px 7px #f8f8f8, 
        3px 3px 7px #dadada;
}

.content {
    display: grid;
    grid-template-areas: 
        'cover-photo'
        'navbar'
        'main';
    font-family: $base-font-family;
    font-weight: 200;
    color: $font-color-b;
}

.cover-photo {
    grid-area: cover-photo;
    text-align: center;
    @media (max-width: 589px) {
        height: 100vh;
    }

    &__greeting {
        // position: absolute;
        width: 100%;
        height: 100vh;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__muted {
        color: #c9c9c9;
        position: absolute;
        top: 15px;
        transition-delay: 0.5s;
    }

    &__name{
        
        h1 {
            font-size: 6rem;
            letter-spacing: 6px;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: 4px solid orange; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            animation: 
                typing 1.0s steps(40, end),
                blink-caret 1.0s step-end infinite;

            @keyframes typing {
                from { width: 0 }
                to { width: 100% }
            }

            @keyframes blink-caret {
                from, to { border-color: transparent }
                50% { border-color: orange; }
            }

            @media (max-width: 800px) {
                font-size: 3.5rem;
            }
            @media (max-width: 450px) {
                font-size: 2.2rem;
            }
        }
    }

    &__sub {
        margin-top: 20px;
        width: auto;

        &:before {
            content: '';
            display: block;
            margin: auto;
            height: 2px;
            width: 0px;
            background: transparent;
            transition: width 1.5s ease;
            transition-delay: 2.5s;
        }

        &.appear:before {
            width: 100%;
            background: orange;
        }
    }

    &__job {
        margin: 15px;
        font-size: 3.5rem;
        font-family: $base-font-family;
        font-weight: 400;
        letter-spacing: 6px;
        transition-delay: 1.0s;
        @media (max-width: 800px) {
            font-size: 1.8rem;
        }
        @media (max-width: 400px) {
            letter-spacing: 3px;
        }
    }
    
    &__scroll {
        position: relative;
        bottom: 130px;
        transition-delay: 1.8s;
        opacity: 0;
        transform: translateY(100px);
        @media (min-width: 825px) {
            display: none;
        }
    }

}






.nav {
    background-color: $base-color;
    grid-area: navbar;
    width: 100%;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 100;

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        @media (max-width: 824px) {
            display: none;
        }

        li {
            margin: 0 10px;

            a { 
                opacity: 0;
                padding: 0 25px;
                margin: 5px;
            }
        }

        #nav1 a {
            animation: fade-in-item 1s 1.2s forwards;
        }

        #nav2 a {
            animation: fade-in-item 1s 1.4s forwards;
        }

        #nav3 a {
            animation: fade-in-item 1s 1.6s forwards;
        }

        #nav4 a {
            animation: fade-in-item 1s 1.8s forwards;
        }

        #nav5 a {
            animation: fade-in-item 1s 2.0s forwards;
        }

        @keyframes fade-in-item {
            0%   { display: none; opacity: 0; }
            100% { display: block; opacity: 1; } 
        }
    }

    &__item {
        font-family: $base-font-family;
        font-size: 2.0rem;
        margin: 0 25px;
        color: $font-color-w;
        text-decoration: none;
        @media (max-width: 589px) {
            font-size: 1.4rem;
            margin: 0 15px;
        }
        @media (max-width: 400px) {
            font-size: 1.3rem;
            margin: 0 15px;
        }
    }
}





.main {
    grid-area: main;
    height: auto;
    background-color: white;
}

.about {
    width: 100%;

    &__main {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-areas: 
            'one two';
        @media (max-width: 800px) {
            grid-template-areas: 
                'one' 
                'two';
        }
    }

    &__sec-one {
        grid-area: one;
        text-align: center;
        margin: auto;
        font-size: 1.8rem;
    }

    &__text {
        margin-top: 0;
    }

    &__photo {
        font-weight: 400
    }

    &__img {
        border-radius: 50%;
        border: 2px solid $base-color;
        height: 300px;
        box-shadow: 3px 3px 7px rgb(182, 182, 182);
    }

    &__sec-two {
        grid-area: two;
        width: 600px;
        text-align: center;
        margin: auto;
        font-size: 1.5rem;
        padding-bottom: 0;
        @media (max-width: 1005px) {
            width: 400px;
        }
        @media (max-width: 401px) {
            width: 320px;
            text-align: center;
        } 
    }

    &__link {
        margin: 0 15px 0 15px;
        text-decoration: none;
    }
}


.skills {
    width: 100%;
    background-color: #EEEEEE;

    &__main {
        width: 100%;
        display: grid;
        grid-template-areas: 
            'one';
    }

    &__sec-one {
        grid-area: one;
        text-align: center;
        font-size: 1.8rem;
    }

    &__sub-title{
        font-weight: 400;
        @media (max-width: 401px) {
            margin-top: 5px;
        } 
    }
    
    &__text {
        margin: 0;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 150px;

        p {
            text-align: center;
        }
    }

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timeline {
    width: 90%;
    height: auto;
    max-width: 800px;
    margin: 25px auto;
    position: relative;

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 20px 20px 10px 20px;
            background-color: #EEEEEE;
            border-radius: 10px;
            margin-bottom: 20px;
            border: 1px solid #cccccc;
            box-shadow: 3px 3px 7px rgb(182, 182, 182);
        }
    }

    &__content {

        h1, h2 {
            font-size: 25px;
            font-weight: 400;
            line-height: 30px;
            margin: 5px 0 5px 0;
        }

        h2 {
            font-size: 15px;
        }

        p {
            font-size: 16px;
            line-height: 30px;
            margin: 5px 0 0 0;
        }
    }

    &__date {
        font-size: 16px;
        font-weight: thin;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }

    &__logo {
        position: absolute;
        right: 15px;
        top: 15px;
        height: 50px;
    }

    &__hidden {
        max-width: 800px;
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 0.7s linear;

        &.hidden {
            // display: none;
            max-height: 1500px;
        }
    }

    &__seemore {
        text-align: center;
        margin: 10px 0 0 0;

        &:hover {
            cursor: pointer;
            background-color: #dddddd;
            border-radius: 0 0 10px 10px;
        }

        &.open {
            cursor: pointer;
            background-color: rgb(255, 168, 168);
            color: white;
            border-radius: 0 0 10px 10px;
            transition: background-color 0.5s;

            &:hover {
                background-color: rgb(255, 140, 140);
            }
        }
    }
}

@media only screen and (min-width: 1134px) {
    .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        background-color: $base-color;
        transform: translateY(30px);
    }

    .timeline ul li {
        width: 60%;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-165px);
        border-radius: 20px 0 20px 20px;
    } 

    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(165px);
        border-radius: 0 20px 20px 20px;
    }

    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -21px;
        top: 10px;
    }

    .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -19px;
        top: 10px;
    }
    .timeline__date {
        position: absolute;
        top: -45px;
    }

    .timeline__logo {
        position: absolute;
        top: 0px;
        height: 60px;
        
        &.odd {
            right: -75px;
        }

        &.even {
            left: -73px;
        }
    }
}

.about-div {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
    background-color: $base-color;
    height: 50px;
    width: 100%;
}

.about-skills {
    clip-path: polygon(100% 100%, 100% 0, 0 0);
    transform: rotate(180deg) scaleX(-1);
    background-color: #EEEEEE;
    height: 50px;
    width: 100%;
}

.skills-work {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
    background-color: #EEEEEE;
    height: 50px;
    width: 100%;
}

.work-education {
    clip-path: polygon(100% 100%, 100% 0, 0 0);
    transform: rotate(180deg) scaleX(-1);
    background-color: #EEEEEE;
    height: 50px;
    width: 100%;
}

.education-contact {
    clip-path: polygon(100% 100%, 100% 0, 0 0);
    background-color: #EEEEEE;
    height: 50px;
    width: 100%;
}

.education {
    background-color: #EEEEEE;
}

.contact {
    padding: 0 300px 25px 300px;
    @media (max-width: 1400px) {
        padding: 0 200px 25px 200px;
    }
    @media (max-width: 970px) {
        padding: 0 100px 25px 100px;
    }
    @media (max-width: 650px) {
        padding: 0 15px 25px 15px;
    }

    &__info {
        text-align: center;
    }

    &__text {
        font-size: 1.8rem;
    }

    &__link {
        color: $base-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: orange;
            text-decoration: underline;
        }
    }

    &__button {
        background-color: transparent;
        border: 1px solid $base-color;
        border-radius: 25px;
        padding: 10px 45px;
        font-size: 1.5rem;
        font-family: 'Source Sans Pro', sans-serif;

        &:hover {
            background-color: $base-color;
            cursor: pointer;
            
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.education {
    padding: 0 300px 25px 300px;
    @media (max-width: 1400px) {
        padding: 0 200px 25px 200px;
    }
    @media (max-width: 970px) {
        padding: 0 100px 25px 100px;
    }
    @media (max-width: 650px) {
        padding: 0 15px 25px 15px;
    }

    &__item {
        padding: 25px 0 0 0;
    }

    &__info {
        text-align: center;
    }

    &__text {
        font-size: 1.5rem;
        margin: 10px 0 10px 0;
    }

    &__link {
        color: $base-color;
        text-decoration: none;
        font-weight: bold;
        font-size: 2.0rem;

        &:hover {
            text-decoration: underline;
        }
    }
}